/* RESET */
*{
    margin: 0;
    padding: 0;
    list-style-type: circle;
}
/*  Fin reset */

/* 1 REM = 10px */
HTML{
    font-size: 62.5%;
}
/* Fin de REM */

/* MENU BURGER  MARGIN negatif à retravailler */
.burger{
    width: 3.8rem;
    height: 2rem;
    cursor: pointer;
    position: sticky;
    top: 1%;
    left: 83%;
    margin-top: -11%;
    margin-bottom: 7%;
}

.burger span{
    width: 100%;
    height: 0.25rem;
    background-color: whitesmoke; 
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}

.burger span::before, .burger span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.25rem;
    background-color: whitesmoke;
    transition: transform 0.5s ease-in-out;
}

.burger span::before{
    transform: translateY(-1rem);
}

.burger span::after{
    transform: translateY(1rem);
}
.burger.active span {
    background-color: transparent;
} 

.burger.active span::before{
    transform: translateY(0px) rotateZ(45deg);
}

.burger.active span::after{
    transform: translate(0px) rotateZ(-45deg);
}

/* Fin du menu burger */

/* Les IMAGES */
header img{
    width: 100%;
}

img:hover {
    transform: scale(1.3);
}

img{
    border-radius: 10px;
}

.alignLeft{
    float:left;
    margin-right: 7px;
    width: 19%;
    min-width: 10rem;
}
#photosResume img {
    width:25%;
    min-width: 8.5rem;
}
/* Fin des Images */

/* Animation H1 Brightness */
h1{
    color:#F2E5A0;
    font-size: 21px;
    text-align: center;
    margin-bottom: 10px;
}
.anim1{
    animation-name: brightness;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.anim2{
    animation-name: brightness;
    animation-duration: 3s;
    transition: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 380ms;
}
.anim3{
    animation-name: brightness;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 680ms;
}
.anim4{
    animation-name: brightness;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1080ms;
}
.anim5{
    animation-name: brightness;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1230ms;
}
.anim6{
    animation-name: brightness;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1340ms;
}
.anim7{
    animation-name: brightness;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 680ms;
}
.anim8{
    animation-name: brightness;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1080ms;
}

@keyframes brightness {
0%{
filter:brightness(30%)
}
50%{
filter:brightness(250%)
}
100%{
filter:brightness(30%)
}
}
/* FIN animation Brightness */


.resume{
    padding: 7px;
    border: 2px solid salmon;

}
body{
    font-family:'Rajdhani', sans-serif; 
    font-weight: bold;
    color: #BAC8CB;
    font-size: 1.5rem;
    background-color: #142535;
    margin: 0.5rem;
    width: 100%;
}
h2{
    color:#F7B99C;
    margin-left: 1.5rem;
    font-size: 18px;
}
#histoire {
    text-align: center;
}
#univers {
    text-align: center;
}
#personnages {
    text-align: center;
}
#critique {
    text-align: center;
}
a{
    color:#BAC8CB;
    font-size: 17px;
}
strong{
    font-size: 17px;
}
.photo{
    border-radius: 15%;
    margin-top: 10px;
    text-align: center;
}

#illustration1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
#illustration2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
#illustration3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
#illustration4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.perso{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 20px;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    background-color: #0f1215;
    margin-top: 5px;
    border-radius: 10px;
}

#logo-footer{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lien-contact{
    font-size: 1rem;
}
#liens, #contact{
    margin-top: 5px;
    margin-bottom: 5px;
}
li a{
    font-size: 8px;
}

/* responsive design en action */

@media screen and (min-width: 800px) {
#partieResumes{
    width: 100%;
    display:flex;
    border: 2px, solid rgb(201, 239, 10);
}
#photosResume{
    display: flex;
    justify-content: space-between;
}

}
