*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.catchphrase{
    color:#F2E5A0;
    font-size: 21px;
    text-align: center;
    margin-bottom: 10px;
}
.alignLeft{
    float:left;
    margin-right: 7px;
}
.resume{
    padding: 7px;
}
body{
    font-family:'Rajdhani', sans-serif;
    font-weight: bold;
    color: #BAC8CB;
    font-size: 15px;
    background-color: #20272F;
    margin: 5px;
    width: 380px;
}
h2{
    color:#F2E5A0; 
    margin-left: 15px;
    font-size: 18px;
}
a{
    color:#BAC8CB;
    font-size: 17px;
}
.photo{
    margin-top: 10px;
    text-align: center;
}
.illustration{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}