/* RESET */
*{
    margin: 0;
    padding: 0;
    list-style-type: circle;
}
/*  Fin reset */

/* 1 REM = 10px */
HTML{
    font-size: 62.5%;
}
/* Fin de REM */

/* VARIABLES */
:root{
    --background-color: #0f1d29;
    --font-color:  #BAC8CB;
    --font-family:'Rajdhani', sans-serif;
    --font-size:1rem;
    --h2-color:#F7B99C;
    --spacing1:0.5rem;
    --footer-background-color: #0f1215;
    --burger-background-color:#050d13;
    --burger-font-color:#F2E5A0;
}
/* FIN VARIABLES */

/* MENU BURGER  */
.burger{
    width: 4%;
    height: 0.15%;
    cursor: pointer;
    position: sticky;
    top: 3rem;
    left: 75%;
    z-index: 2;
}

.burger span{
    width: 125%;
    height: 0.25rem;
    background-color: var(--burger-font-color); 
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}

.burger span::before, .burger span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.25rem;
    background-color:var(--burger-font-color);
    transition: transform 0.5s ease-in-out;
}

.burger span::before{
    transform: translateY(-1rem);
}

.burger span::after{
    transform: translateY(1rem);
}
.burger.active span {
    background-color: transparent;
} 

.burger.active span::before{
    transform: translateY(0px) rotateZ(45deg);
}

.burger.active span::after{
    transform: translate(0px) rotateZ(-45deg);
}

/* Fin du menu burger */
/*  NAVBAR BURGER */
.navbar-mobile{
    background-color: var(--burger-background-color); 
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: calc(var(--spacing1)*4);
    height: 40rem;
    width:530%;
    padding-left: var(--spacing1);
    padding-right: var(--spacing1);
    justify-content: space-around;
    opacity: 0.9;
    z-index: 1;
}

.navbar-mobile a{
    color:var(--burger-font-color);
    font-size: 76%;
    text-decoration: none;
    border-bottom: 2px solid;
}

.modal{ 
    display: none;
}
.active{
    display:flex;
}

/* FIN NAVBAR burger */

/* Les IMAGES */
header img{
    width: 100%;
}

.photo img:hover{
    transform: scale(1.3);
}

img{
    border-radius: 1rem;
}

.alignLeft{
    float:left;
    margin-right: 0.7rem;
    width: 19%;
    min-width: 10rem;
}
.photo img {
    width:25%;
    min-width: 8.5rem;
}

/* Fin des Images */

/* Animation H1 Brightness */
h1{
    color:var(--burger-font-color);
    font-size: 131%;
    text-align: center;
    margin-bottom:calc(var(--spacing1)*2);
    margin-top: 0.7rem;
}
.anim1{
    animation-name: brightness;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.anim2{
    animation-name: brightness;
    animation-duration: 3s;
    transition: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 380ms;
}
.anim3{
    animation-name: brightness;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 680ms;
}
.anim4{
    animation-name: brightness;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1080ms;
}
.anim5{
    animation-name: brightness;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1230ms;
}
.anim6{
    animation-name: brightness;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1340ms;
}
.anim7{
    animation-name: brightness;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 680ms;
}
.anim8{
    animation-name: brightness;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1080ms;
}

@keyframes brightness {
0%{
filter:brightness(30%)
}
50%{
filter:brightness(250%)
}
100%{
filter:brightness(30%)
}
}
/* FIN animation Brightness */

/* ADAPTATION ANIMATION aux écrans plus grands */
@media screen and (min-width: 440px){
    .anim7{
        animation-name: brightness;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-delay: 1540ms;
    }
    .anim8{
        animation-name: brightness;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-delay: 1610ms;
    }

/* ADAPTATION menu burger */

.navbar-mobile a {
    color:var(--burger-font-color);
    font-size: 97%;
    text-decoration: none;
    border-bottom: 2px solid;
}
}
/* Fin adaptation animation aux écrans plus grands */
.resume{
    padding-top: 0.7rem;
    padding-bottom:0.7rem;
}
body{
    font-family:var(--font-family); 
    font-weight: bold;
    color:var(--font-color);
    font-size: calc(var(--font-size)*1.5);
    background-color: var(--background-color); 
    margin:var(--spacing1);
}
h2{
    color:var(--h2-color);
    margin-left: calc(var(--spacing1)*3);
   
}
#histoire {
    text-align: center;
}
#univers {
    text-align: center;
}
#personnages {
    text-align: center;
}
#critique {
    text-align: center;
}
a{
    color:var(--font-color);
    
}
strong{
    font-size: calc(var(--font-size)*1.7);
}
.photo{
    border-radius: 15%;
    margin-top: calc(var(--spacing1)*2);
    text-align: center;
}

#illustration1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:var(--spacing1);
    
}
#illustration2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:var(--spacing1);
}
#illustration3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:var(--spacing1);
   
}
#illustration4{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.perso{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8rem;
    margin-bottom: calc(var(--spacing1)*4);
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-around;
    font-size: calc(var(--font-size)*1.2);
    background-color: var(--footer-background-color);
    margin-top: var(--spacing1);
    border-radius: 1rem;
}

#logo-footer{
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lien-contact{
    font-size: var(--font-size);
}
#liens, #contact{
    margin-top: var(--spacing1);
    margin-bottom: var(--spacing1);
}
li a{
    font-size: calc(var(--font-size)*0.8);
}

/* responsive design DESKTOP */

@media screen and (min-width: 800px) {

.navbar-mobile a {
color:var(--burger-font-color);
font-size: 125%;
text-decoration: none;
border-bottom: 2px solid;
}

body {
font-size: 130%;
margin-left: 2%;
margin-right: 2%;
}

#partieResumes{
width: 100%;
display:flex;
}

.resume{
width: 34%;
}

.alignLeft{
float:none;
width: 100%;
height: 40%;
}
h1{
font-size: 190%;
}

#photosResume img{
    width:15%;
    min-width: 8.5rem;
}

.photo img {
    width:15%;
    min-width: 8.5rem;
    margin-bottom: calc(var(--spacing1)*4);
}
/* Article Histoire organisé en GRID */
#article-histoire{
display: grid;
grid-template-columns: 75% 25%;
grid-template-rows: 28% 5% 65%;
margin-bottom: calc(var(--spacing1)*8);
}
#illustration1, #histoire{
    grid-column-start: 1;
    grid-column-end: 3;
}
#illustration1{
    grid-row-start: 1;
    grid-row-end: 2;
}
#histoire{
    grid-row-start: 2;
    grid-row-end: 3;
}
#paragraphe-histoire{
grid-row-start: 3;
grid-row-end: 4;
}
#article-histoire .photo { 
    display: flex;
    flex-direction: column;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    }
   #histoire1, #histoire2, #histoire3{
    width: 12em;
   }
/* Fin mise en page article histoire */
/* Article Critique organisé en GRID */
#article-critique{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 25% 5% 65%;
    margin-bottom: calc(var(--spacing1)*8);
    }
    #illustration4, #critique{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #illustration4{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #critique{
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #paragraphe-critique{
    grid-row-start: 3;
    grid-row-end: 4;
    margin-bottom: calc(var(--spacing1)*8);
    }
    #article-critique .photo { 
    display: flex;
    flex-direction: column;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    }
    #critique1, #critique2, #critique3{
    width: 12em;
    }
    /* Fin mise en page article critique */
}